<h2 style="text-align:center;">ROHIT SHARMA</h2>


<div class="rohit-info">
    <img src="https://th.bing.com/th/id/OIP.Yn-IJbQ4tlfa0l-rov-r9QHaE8?rs=1&pid=ImgDetMain" alt="Rohit Sharma"
        class="center" />

    <div class="info-text">
        <h3>Rohit Sharma</h3>
        <p>
            Rohit Sharma is an Indian cricketer and former captain of the Indian national team. He is one of the most
            successful opening batsmen in modern-day cricket and is known for his aggressive style of play. He holds the
            record for the highest score in a One Day International (ODI) match, with an innings of 264 runs.
        </p>

        <p>
            He has been an essential part of the Indian team and has contributed significantly in various formats of the
            game. He has also captained the Mumbai Indians (MI) franchise in the Indian Premier League (IPL), leading
            them to multiple titles.
        </p>

        <p>
            Apart from his batting skills, Rohit is admired for his calm demeanor and his leadership qualities. His
            consistency and ability to play in pressure situations have made him one of India's cricketing icons.
        </p>
    </div>
</div>